build/*
CMakeFiles/*
cmake_install.cmake

Makefile

*.sublime-workspace
.tags
tags
*.pyc
*.swp
*.swo

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.code-workspace
build/

.vscode/


*~

*.DS_Store

formatbackup*/
*.orig

*/build/
*CMakeCache.txt

*.tif
*.jpg

j3colorstretch