---
---

@import "{{ site.theme }}";
header {
  border-bottom: 1px dashed #990000;
}
header h1 {
  color: #990000;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(232, 181, 83, 0.1),
               0 0 10px rgba(232, 181, 83, 0.1);

}
h1, h2, h3, h4, h5, h6 {
  color: #990000;
}
